*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Nav */

nav {
    height: 58px;
    background-color: rgb(36,37,38);
    border-bottom: solid 1.5px rgba(176,179,184,0.3);
}

#right-nav{
    width: 213px;
    margin-right: 35px;
    margin-left: 15px;
}

.display {
    background-color: black;
    height: 100%;
}

.left-nav, .bt-center-nav {
    float: left;
    display: flex;
    padding-top: 6px;
    
}

.circle >i, .bt-center-nav >i {
    font-size: 22px;
    line-height: 45px;
    color:  rgba(176,179,184);
}

.circle, .logo {
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: rgb(58,59,60);
    border-radius: 100%;
    margin: 0 5px;
}

.logo {

    text-align: left;
   
}

.logo >img {
    width: 100%;
    height: 100%;
}

.logo >i {
    
    color: rgb(46,136,255);
    font-size: 48px;
    line-height: 45px;

}

.center-nav >a:first-child:hover {
    background-color: rgb(36,37,38);
    
}

#nav-bt:hover {
    background-color: rgba(176,179,184,0.3);
}

.center-nav >a:first-child {
    padding-bottom: 3px;
    border-radius: 0;
    margin-left: 130px;
    border-bottom: solid 2px rgb(46,136,255);
}



.center-nav >a:first-child >i {
    color: rgb(46,136,255);
}

.bt-center-nav {
    margin-top: 5px;
    text-align: center;
    display: block;
    float: left;
    width: 84px;
    height: 42px;
    background-color: rgb(36,37,38);
    margin-right: 7px;
    border-radius: 8px;
}

.circle >img {
    border-radius: 100%;
    width: 45px;
}


/* Newfeed */
    /* Story */
.newfeed {
    background-color: rgb(27, 27, 27);
    padding: 25px;
}

.story {
    width: 680px;
    height: 295px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}

.butstr{
    font-size: 16px;
    width: 200px;
    height: 60px;
    display: block;
    float: left;
    background-color: rgb(36,37,38);
    text-align: center;
    line-height: 60px;
    margin: 5px;
    margin-top: 5px;
    color:rgba(176,179,184);
    text-decoration: none;
    border-radius: 8px;
}

#special {
    padding-bottom: 3px;
    width: 200px;
    height: 60px;
    display: block;
    float: left;
    background-color: rgb(36,37,38);
    text-align: center;
    line-height: 60px;
    margin: 5px;
    margin-top: 5px;
    color:rgba(176,179,184);
    text-decoration: none;
    color: rgb(46,136,255);
    border-radius: 0px;
    border-bottom: solid 2px rgb(46,136,255);
}

.butstr:hover {
    background-color: rgb(52, 53, 54);
}

#blue {
    
    color: rgb(46,136,255);
    
}

.story a:first-child {
    color: rgb(46,136,255);
    margin-left: 20px;
    border-bottom: solid 1px rgb(46,136,255);
}

.up-str {
    width: 100%;
    height: 70px;
    display: block;
    border-bottom: solid 0.1px rgba(176,179,184,0.2);
    float: left;
}

.butstr >i {
    margin-right: 5px;
    font-size: 20px;
    
}

.butstr >a{
    color: white;
}

.div-str {
    width: 100%;
}

.a-str {
    width: 115px;
    height: 200px;
    float: left;
    margin-top: 15px;
    display: inline-block;
    margin-right: 10px;
}

.a-str >img {
    width: 115px;
    height: 200px;
}

.a-str :hover {
    opacity: 0.7;
}
